.side_bar
  .side_bar-1
    .side_bar-1__box
      %p.side_bar-1__box__username
        shoka
      .side_bar-1__box__menu
        =link_to "#" do
          = icon('fa','edit', class: 'icon')
        =link_to"#" do
          = icon('fa','cog', class: 'icon2')

  .side_bar_2
    .group
      .group__name
        nisionaokisan
      .group__latest-message
        いつも有難うございます
